@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide {
  padding-left: 1rem;
}

.slick-dots {
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: -40px !important;
  justify-content: center;
}

.slick-dots li {
  margin: 0 !important;
  padding: 0 !important;
}
.slick-dots li button:before {
  width: 8px !important;
  height: 8px !important;
  content: "" !important;
  background: #000;
  border-radius: 100%;
}
